<div class="recipe-edit">
  <form class="form">
    <div class="input-container">
      <label class="input-label" for="name">Name</label>
      <input class="input" type="text" id="name" name="name">
    </div>
    <div class="input-container">
      <label class="input-label" for="image-url">Image URL</label>
      <input class="input" type="text" id="image-url" name="imageUrl">
    </div>
    <div class="input-side">
      <input class="input" type="text" name="">
      <input class="input" type="text" name="">
      <button class="btn btn__red" type="button">X</button>
    </div>
    <div class="input-container">
      
    </div>
    <div class="btn-grp">
      <button class="btn btn__green" type="submit">Save</button>
      <button class="btn btn__red" type="button">Delete</button>
    </div>
  </form>
</div>