<div class="recipe-edit">
  <form class="form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label class="input-label" for="name" >Name</label>
      <input class="input" type="text" id="name" formControlName="name">
    </div>
    <div class="input-container">
      <label class="input-label" for="image-url">Image URL</label>
      <input class="input" type="text" id="image-url" name="imageUrl" formControlName="imageUrl">
    </div>
    <div class="input-container">
      <label class="input-label" for="description">Description</label>
      <textarea rows="6" class="input" id="description" formControlName="description"></textarea>
    </div>
    <div class="input-form-array" formArrayName="ingredients">
      <div class="input-side" *ngFor="let ig of IngredientsControl; let i = index" [formGroupName]="i">
          <input class="input" type="text" formControlName="name">
          <input class="input" type="text" formControlName="amount">
          <button class="btn btn__red" type="button" (click)="onRemoveIngredient(i)">X</button>
      </div>
    </div>
    <div class="btn-grp">
      <button class="btn btn__green" type="submit">Save</button>
      <button class="btn btn__red" type="button">Delete</button>
    </div>
  </form>
</div>