$background: #FAFAFA;
$primary-dark: #2E354E;    // App bar, cards, dark UI
$primary-dark-08: rgba(46, 53, 78, .8);   
$primary-orange: #F87D4D;
$primary-orange-08: rgba(248, 125, 77, 0.8);   // Buttons, alerts, key actions
$secondary-green: #88D286; // Success states, fresh ingredients
$secondary-green-08: rgba(137, 210, 134, 0.8); 
$secondary-green-light: #D6E06B;  // Highlights, warnings, accents

$text-light: #F8F9FA;      // Text on dark
$text-dark: #212529;       // Text on light

$text-grey-5: #adb5bd;
$text-grey-6: #868e96;

$radius-4: .4rem;

$box-shadow: 0 2px 8px rgba(46, 53, 78, 0.08);