<div class="shopping-edit">
  <form class="shopping-edit__form" (ngSubmit)="addItem()" #f="ngForm">
    <div class="shopping-edit__input">
      <div class="shopping-edit__input-name">
        <label for="name">Name</label>
        <input required type="text" name="name" id="name" ngModel>
      </div>
      <div class="shopping-edit__input-name">
        <label for="amount">Amount</label>
        <input required pattern="^[1-9]+[0-9]*$" type="number" name="amount" id="amount" ngModel>
      </div>
    </div>
    <div class="shopping-edit__btn-grp">
      <button class="btn btn__green" [disabled]="f.invalid" type="submit">{{ editMode ? 'Update': 'Add'}}</button>
      <button class="btn btn__red" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
      <button class="btn btn__blue" type="button" (click)="onClear()">Clear</button>
    </div>
  </form>
</div>