<div class="shopping-edit">
  <form class="shopping-edit__form">
    <div class="shopping-edit__input">
      <div class="shopping-edit__input-name">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" #nameInput>
      </div>
      <div class="shopping-edit__input-name">
        <label for="amount">Amount</label>
        <input type="number" name="amount" id="amount" #amountInput>
      </div>
    </div>
    <div class="shopping-edit__btn-grp">
      <button class="btn btn__green" type="submit" (click)="addItem()">Add</button>
      <button class="btn btn__red" type="button">Delete</button>
      <button class="btn btn__blue" type="button">Clear</button>
    </div>
  </form>
</div>